Django>=5.2
coverage>=7.6.0
Faker>=28.0.0
django-widget-tweaks>=1.5.0
Pillow>=10.4.0
DateTime>=5.5
cryptography>=43.0.0
django-fernet-encrypted-fields>=0.1.2
django-model-utils>=4.5.1
holidays>=0.54
currency-symbols>=2.0.3
CurrencyConverter>=0.17.13
freezegun>=1.5.1
django-q2>=1.7.0
pycodestyle>=2.12.1
autopep8>=2.3.1
tabula-py>=2.9.3
pandas>=2.2.2
python-dateutil>=2.9.0
django-cleanup>=9.0.0
inflect>=7.3.1
pydantic>=2.8.2
numpy>=2.1.0
django-session-timeout>=0.1.0
python-dotenv>=1.0.1