annotated-types==0.7.0
asgiref==3.11.1
autopep8==2.3.2
cffi==2.0.0
coverage==7.13.4
cryptography==46.0.5
currency-symbols==2.0.4
CurrencyConverter==0.18.14
DateTime==6.0
distro==1.9.0
Django==6.0.2
django-cleanup==9.0.0
django-fernet-encrypted-fields==0.3.1
django-model-utils==5.0.0
django-picklefield==3.4.0
django-q2==1.9.0
django-session-timeout==0.1.0
django-widget-tweaks==1.5.1
Faker==40.4.0
freezegun==1.5.5
holidays==0.91
inflect==7.5.0
more-itertools==10.8.0
numpy==2.4.2
pandas==3.0.0
pillow==12.1.1
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
tabula-py==2.10.0
typeguard==4.5.0
typing-inspection==0.4.2
typing_extensions==4.15.0
zope.interface==8.2
